.card {
    overflow: hidden;
    background-color: white;
    border: 6px solid black;
    border-radius: 16px;
    width: 750px;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 24px 0;
  }
  .user {
    padding: 24px;
  }
  .avatar:hover {
    transform: scale(1.05);
    background-color: rgb(198, 219, 211);
  }
  .username {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 48px;
    font-weight: 700;
  }
  .userTag,
  .userLocation {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    color: gray;
  }
  .avatar {
    background-color: rgb(44, 41, 41);
    border-radius: 50%;
    width: 300px;
    transition: transform 350ms ease-in-out, background-color 350ms ease-in-out;
  }
  .list {
    list-style-type: none;
    background-color: rgb(208, 104, 104);
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    border-top: 4px solid rgb(42, 40, 40);
  }
  .listItem {
    display: flex;
    flex-direction: column;
    width: 250px;
    font-size: 42px;
    padding: 28px;
  }
  .listItem:not(:first-child) {
    border-left: 4px solid rgb(42, 40, 40);
  }
  .listStat {
    font-weight: 500;
  }
